<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home - Django Upload and Read Example</title>
        {% load staticfiles %}
        <link type="text/css" rel="stylesheet" href="/static/fileReader/home/style.css"/>
	</head>

	<body>
        <a href="{% url "result" %}">See current data</a>
        <!-- Upload form -->
		<form action="{% url "home" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.uploadedfile.label_tag }} {{ form.uploadedfile.help_text }}</p>
			<p>
				{{ form.uploadedfile.errors }}
				{{ form.uploadedfile }}
			</p>
			<input type="submit" value="Upload" />
		</form>
    </body>
</html>